h1, h2, h3, h4 {
  text-align: center;
  background-color:burlywood;
}

.col-sm-3 {
  list-style-type:none;
  font-size: larger;
  text-align: center;
  border: 2px solid beige;
  background-color: rosybrown;
  box-sizing: border-box;
  padding:.2em;
}

.pets {
  width:90%;
  margin:auto;
  display:block;
  box-sizing: border-box;
  border: 2px solid beige;
  border-radius: 1em;
}

#cage {
  width:50%;
  margin:auto;
  display:block;
  box-sizing: border-box;
  border: 2px solid beige;
  border-radius: 1em;
}
